

$primary: #202020;
$secondary: #181818;
$white: #fff;
$black: #000;

$text-color: #DEDEDE; 
$text-color-post: #D2D2D2; 

$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 300px;

$btn-red: #ED3024;
$btn-blue: #3137C9;

/*  Медиа запросы */

$tablet-bp: 991px;
$mobile-bp: 575px;
$mobile_sm-bp: 325px;

$nav_sm-bp: 450px;