

$primary: #202020;
$secondary: #181818;
$white: #fff;
$black: #000;

$text-color: #DEDEDE; 

$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 300px;

$btn-red: #ED3024;
$btn-blue: #3137C9;

