.cabinet {
	display: flex;

	@include breakpoint($mobile-bp) {
		flex-direction: column;
		justify-content: center;
	}
}

.cabinet__form {
	width: 34rem;

	@include breakpoint($mobile-bp) {
		order: 2;
		margin: auto;

	}

}

.cabinet__avatar {
	flex-grow: 1;
	padding-left: 11rem;

	@include breakpoint($mobile-bp) {
		order: 1;
		margin-bottom: 3rem;
		padding: 0;

		text-align: center;
	}
	

	.profile__avatar-img {
		display: block;
		margin: auto;

		margin-bottom: 1.5rem;

	}
}

.cabinet__file {
	color: #107EFF;
	font-size: 1.4rem;

	text-decoration: underline;
	cursor: pointer;
	
	input {
		display: none;
	}

	&:hover {
		text-decoration: none;
	}
}

.form__footer {
	
	@include breakpoint($mobile-bp) {
		text-align: center;
		margin-top: 2rem;
	}

}