.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 1100;

	backdrop-filter: blur(15px);

	padding: 1.5rem;

	visibility: hidden;
	opacity: 0;
	transition: all .3s linear;

	&--active {
		visibility: visible;
		opacity: 1;
	}

}

.modal__content {
	max-width: 50rem;
	width: 100%;

	padding: 8rem 8rem 2.5rem;

	background-color: $primary;
	border-radius: 5px;
	box-shadow: 0 10px 35px rgba($black, .35);

	position: relative;

	@include breakpoint($mobile-bp) {
		padding: 4rem 3rem 2rem;
	}

	&--share {
		padding: 8rem 14rem;
	}

	&--story {
		padding: 0;
		background: none;
		max-width: 42rem;
	}
}

.modal__close {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;

	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 1;

	cursor: pointer;

	transition: transform .1s linear;

	.close {
		display: block;
		opacity: .5;
		transition: opacity .2s linear;

		&:hover {
			opacity: 1;
		}
	}

	&:active {
		transform: scale(.8);
	}
}

.modal__footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: $white;

	margin-top: 4rem;

	font-size: 1.2rem;

	@include breakpoint($mobile-bp) {
		flex-direction: column;
	}

	.modal__footer-item:not(:last-child) {
		margin-right: 2rem;

		@include breakpoint($mobile-bp) {
			margin-right: 0;
		}
	}

	.modal__footer-item {

		@include breakpoint($mobile-bp) {
			&:last-child {
				margin-top: 1rem;
			}
		}
	}

	@include breakpoint($mobile-bp) {
		margin-top: 2rem;
	}
}

.modal__footer-link {
	color: #B2B2B2;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.modal__vodeo {
	display: block;
	width: 100%;
	height: auto;

	margin: 0 auto;
}


