.nav {

	&--mobile {
		display: none;
	}
	@include breakpoint($tablet-bp) {
		display: none;
	}

	@include breakpoint($tablet-bp) {
		&--mobile {
			display: block;
			font-size: 1.6rem;
			margin: 3rem 0;
		}
	}

	
}


.nav__list {
	display: flex;

	@include breakpoint($tablet-bp) {
		flex-direction: column;
		text-align: left;
	}

	.nav__item {
		position: relative;

		&:hover {

			.nav__link {
				background-color: $btn-blue;
				text-decoration: none;

			}

			> .subnav {
				display: block;
			}
		}

		@include breakpoint($tablet-bp) {
			&:hover {

				.nav__link {
					background: 0;
				}
			}
		}
	}

	.nav__link {
		font-size: 1.1rem;
		text-transform: uppercase;
		color: $white;
		
		display: block;
		text-decoration: none;

		padding: 1.5rem;

		transition: background-color .2s ease;

		@include breakpoint($tablet-bp) {
			font-size: 1.6rem;
			line-height: 1.2;
			text-transform: capitalize;

			padding: 1.2rem;
		}


		&.has-subnav {
			position: relative;
			padding-right: 3.5rem;

			&::after {
				content: "";
				
				margin-top: 2px;

				border-style: solid;
				border-width: 6px 5px 0 5px;
				border-color: $white transparent transparent transparent;

				position: absolute;
				top: 50%;
				right: 1.3rem;

				transform: translateY(-50%);
			}
		}

		@include breakpoint($tablet-bp) {
			padding-left: 0;
			padding-right: 0;
		}
	
	}

}

