.sidebar__content {
	padding: 0 2rem;
}	

.profile {
	margin-top: -5rem;

	@include breakpoint($tablet-bp) {
		margin-top: -3.25rem;
		position: relative;
	}
}


.profile-img {
	display: block;
	margin: 0 auto 2rem;
	position: relative;

	width: 10rem;
	height: 10rem;

	border-radius: 50%;
	border: 2px solid $white;

	box-shadow: 0 7px 20px rgba(#333, .25);

	@include breakpoint($tablet-bp) {
		width: 6.5rem;
		height: 6.5rem;

		margin-left: 0;

		position: absolute;
		left: 0;
	}

}

.profile__name {
	font-size: 1.8rem;
	color: $white;

	margin-top: 1.9rem;
}

.profile__theme-blog {
	font-size: 1.4rem;
	font-weight: 300;
	color: $text-color;

	margin-top: 0.5rem;
}

.profile__text {
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.8;

	border-top: 1px solid #1C1C1C;
	border-bottom: 1px solid #1C1C1C;

	padding: 3rem 0;
	margin: 3rem 0;
}

