.sidebar {
	width: $sidebar-width;
	height: 100vh;

	background-color: $primary;

	box-shadow: 5px 0 15px rgba(#050505, .1);

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: $z-index-sidebar;

	transition: transform .2s linear, width .2s linear;

	@include breakpoint($tablet-bp) {
		transform: translateX(-100%);

		display: flex;
		flex-direction: column;
		height: calc(100vh - 3.9rem);

		top: 4rem;
		overflow: auto;

		background-color: #0D0D0D;
		

		.show-sidebar & {
			transform: translateX(0);
		}
	}

	 @include breakpoint($nav_sm-bp) {
		 width: 100%;
	 }
}

.sidebar__header {
	height: 180px;
	background-color: $secondary;

	@include breakpoint($tablet-bp) {
			height: 10rem;
		}

	.sidebar__header-img {
		display: block;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.sidebar__content {
	text-align: center;
}

.sidebar__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 2rem 8rem;

	@include breakpoint($tablet-bp) {
		flex-grow: 1;
		align-items: flex-end;
		// padding-bottom: 6rem;
	}
}