.social {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 1.9rem;

	@include breakpoint($tablet-bp) {
		display: none;
	}
	
	.social__item:not(:last-child) {
		
		margin-right: 1.5rem;
	}

	&--share {
		margin-top: 0;
	}
}
