<div class="modal">
	<div class="modal__content">

		<button class="modal__close">
			<img class="close" src="../assets/images/modal/cancel.svg" alt="Закрыть">
		</button>

		<form class="form" action="/" method="POST">

			<div class="form__group form__group--profile">
				<input class="form__control" type="text" placeholder="Ваше имя">
				<span class="textarea__line"></span>
			</div>

			<div class="form__group form__group--profile">
				<input class="form__control" type="email" placeholder="Ваш e-mail">
				<span class="textarea__line"></span>
			</div>

			<div class="form__group form__group--profile">
				<textarea class="form__control form__control--textarea" name="comments-text" id=""
					placeholder="Текст сообщения"></textarea>
				<span class="textarea__line"></span>
			</div>

			<div class="form__footer form__footer--left">
				<div class="form__group form__group--profile">
					<button class="btn btn--blue btn--rounded btn--sm">Отправить</button>
				</div>

				<ul class="modal__footer">
					<li class="modal__footer-item">
						e-mail: <a class="modal__footer-link" href="mailto:info@mywebsite.ru">info@mywebsite.ru </a>
					</li>

					<li class="modal__footer-item">
						тел: <a class="modal__footer-link" href="tel:+943-232-856-22">+943-232-856-22</a>
					</li>
				</ul>

			</div><!-- form__footer -->

		</form><!-- form -->

	</div><!-- modal__content -->
</div><!-- modal -->