<div class="modal">
	<div class="modal__content modal__content--share">

		<button class="modal__close">
			<img class="close" src="../assets/images/modal/cancel.svg" alt="Закрыть">
		</button>

		<ul class="social social--share">

			<li class="social__item">
				<a class="social__link" href="">
					<img src="../assets/images/share/facebook.svg" alt="Фейсбук">
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="">
					<img src="../assets/images/share/twitter (1) 1.svg" alt="Твиттер">
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="">
					<img src="../assets/images/share/vk 2.svg" alt="Vk">
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="">
					<img src="../assets/images/share/copy 1.svg" alt="Copy">
				</a>
			</li>
		</ul><!-- social -->

		</form><!-- form -->

	</div><!-- modal__content -->
</div><!-- modal -->